* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Bergen Sans", sans-serif;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    display: inline-block;
}
input,
input:focus,
textarea,
textarea:focus {
    border: 1px solid #d12c30;
    font-family: "Rockinsoda";
    outline: 0;
    padding: 10px 20px;
    border-radius: 10px;
    color: #666;
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
}
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}
section {
    overflow: hidden;
}
img {
    width: 100%;
}
.red-txt {
    color: #d12c30;
    font-family: "Rockinsoda";
}
.prm-btn {
    background-color: #d12c30;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
}
.prm-btn:hover {
    background-color: #000;
    color: #fff;
}

/* Header */
.nav-head.sec {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 999;
}

header nav > ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

header .logo {
    font-weight: 900;
    color: #fff;
    width: 180px;
}

header nav > ul > li a {
    display: block;
    padding: 35px 0;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
}

header ul li a:hover {
    color: #000;
}

header .sub-menu:hover .menu-box {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition: all ease 0.3s;
}

header .menu-box {
    transition: all ease 0.3s;
    width: calc(100% + 150px);
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
}

header .menu-box li a {
    transition: all ease 0.3s;
    color: #333;
    margin: 5px 0;
    display: block;
    padding: 5px;
}

header .menu-box li a:hover {
    transition: all ease 0.3s;
    color: #d12c30;
}

header nav > ul li {
    position: relative;
}

.nav_mob_icon {
    display: none;
}

.nav_mob_icon img {
    width: 30px;
}

.mob_nav_menu {
    position: absolute;
    right: 0;
    top: 0;
    background: #111;
    color: #fff;
    width: 50%;
    padding: 100px 20px 0 20px;
    transition: all linear 0.3s;
    display: none;
    z-index: 1000;
    height: 100vh;
    overflow: auto;
}

.slide_nav {
    transform: translate(100%);
    transition: all ease 0.5s;
}

.mob_nav_menu.active {
    display: block;
    -webkit-animation: mob-nav 0.5s ease;
    animation: mob-nav 0.5s ease;
}

.nav-overlay.active {
    transition: all ease 0.5s;
    width: 100%;
}

.nav-overlay {
    transition: all ease 0.5s;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100vh;
    background: #000;
    z-index: 1000;
    opacity: 0.5;
}

.mob_nav_head label {
    background-color: #fff;
    fill: #000;
    border-radius: 1px;
}

@-webkit-keyframes mob-nav {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes mob-nav {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.mob_nav_menu > ul > li {
    width: 100%;
}

.mob_nav_menu > ul > li > .mob_nav_head {
    width: 100%;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mob_nav_menu > ul > li > .mob_nav_head > a {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.mob_nav_head.active {
    background-color: #d12c30;
}

.mob_nav_menu > ul > li.mob_nav > .active > a {
    color: #111;
}

.mob_nav_menu > ul > li > .mob_nav_head > img {
    width: 30px;
}

.mob_submenu {
    height: 0;
    overflow: hidden;
}

.mob_nav input {
    display: none;
}

.mob_nav input:checked ~ .mob_submenu {
    height: 100%;
}

.mob_nav input:checked ~ .mob_nav_head img {
    transform: rotate(90deg);
    transform-origin: center;
}

.mob_submenu img {
    width: 20px;
    margin-right: 10px;
}

.mob_submenu li {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 700;
}
.searchButton img {
    width: 15px;
}

.mob_nav_lwr {
    padding: 10px 25px;
    border-top: 1px solid #666;
}

.mob_nav_lwr .cart_icon svg {
    width: 30px;
    margin-bottom: 20px;
}

.close_mob_nav {
    position: absolute;
    right: 20px;
    top: 30px;
}

.close_mob_nav svg {
    width: 30px;
}

/* Hero Section */
.hero-box {
    display: flex;
    height: 550px;
}
.hero-box .left {
    position: relative;
    flex-basis: 35%;
}
.hero-box .left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hero-box .right {
    flex-basis: 65%;
    background-color: #d12c30;
    position: relative;
}
.top-bar {
    margin-top: 15px;
    width: 100%;
    object-fit: cover;
}
.hero-heading {
    display: flex;
    /* gap: 20px; */
    align-items: center;
}
.hero-heading .txt {
    font-size: 85px;
    font-family: "Rockinsoda";
    color: #fff;
    line-height: 1;
}
.hero-con {
    padding: 80px 0 100px 30px;
}
.hero-con .prm-btn {
    background-color: #fff;
    color: #d12c30;
    font-weight: 800;
    margin-top: 50px;
    font-size: 20px;
}
.hero-sec-bird {
    position: absolute;
    bottom: 0;
    right: 50px;
    width: 150px;
}
.ply-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px !important;
    height: auto !important;
}

/* About Section */
.about-sec {
    padding: 50px 0;
}
.about-img {
    max-width: 400px;
    margin: auto;
    display: block;
    margin-bottom: 40px;
}
.about-head {
    font-family: "Rockinsoda";
    /* font-weight: 800; */
    font-size: 65px;
    letter-spacing: 3px;
    position: relative;
    line-height: 1;
    margin-bottom: 20px;
    display: inline-block;
}
.about-txt {
    max-width: 450px;
}
.about-txt p {
    font-size: 20px;
    max-width: 450px;
    line-height: 1.3;
}
.about-head img {
    position: absolute;
    bottom: -90%;
    left: calc(100% + 20px);
}

/* Benefits Section */
.benefits {
    padding: 50px 0;
    position: relative;
}
.bene-heads {
    max-width: 350px;
    margin: auto;
    text-align: center;
}
.bene-heads h5 {
    font-family: "Rockinsoda";
    /* font-weight: 800; */
    font-size: 65px;
    letter-spacing: 3px;
    position: relative;
    line-height: 1;
    margin-bottom: 20px;
    display: inline-block;
}
.bene-heads p {
    line-height: 1.3;
    font-weight: 400;
}
.left-chick-img {
    width: 250px;
}
.bene-box {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    margin: 60px 0;
}
.benefits .right {
    justify-content: flex-end;
}
.benefits .right .bene-box {
    justify-content: flex-end;
}
.benefits .left .bene-box:nth-child(1) {
    margin-left: -50px;
}
.benefits .left .bene-box:nth-child(4) {
    margin-left: -25px;
}
.benefits .right .bene-box:nth-child(1) {
    margin-right: -50px;
}
.benefits .right .bene-box:nth-child(4) {
    margin-right: -25px;
}
.bene-box img {
    width: 50px;
}
.benefits .left,
.benefits .right {
    display: flex;
    align-items: center;
    gap: 10px;
}
.half-egg-img {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
}

/* Products */
.products {
    padding: 80px 0;
}
.prods-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.prods-head .head-txt {
    font-family: "Rockinsoda";
    font-size: 45px;
    position: relative;
    line-height: 1;
    margin-bottom: 20px;
    display: inline-block;
}
.prods-head-img {
    width: 300px;
    margin-top: -80px;
}
.prods-block {
    margin-top: 150px;
}
.prods-box {
    background-color: #d12c30;
    border-radius: 20px;
}
.tray-img img {
    margin-top: -100px;
}
.prods-con {
    padding: 0 20px 30px 20px;
}
.prods-box-head {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.prods-box-head img {
    max-height: 80px;
    width: auto;
}
.prods-box-head div {
    font-size: 55px;
    font-family: "Rockinsoda";
    color: #fff;
    letter-spacing: 3px;
}
.prods-packs {
    font-size: 18px;
    color: #fff;
}
.prods-chick-img {
    position: relative;
}
.chick-footprints {
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 250px;
    z-index: -1;
}

/* Testimonials */
.testimonials {
    display: flex;
}
.testimonials .left {
    flex-basis: 70%;
    background-color: #d12c30;
    padding: 60px 40px;
    margin-top: 150px;
}
.testimonials .right {
    flex-basis: 30%;
}
.testimonials .left-head {
    font-family: "Rockinsoda";
    font-size: 45px;
    position: relative;
    line-height: 1;
    margin-bottom: 20px;
    display: inline-block;
    color: #fff;
}
.test-txt {
    font-size: 14px;
    font-style: italic;
    color: #fff;
    margin-top: 20px;
    max-width: 500px;
}
.test-name {
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    margin-top: 20px;
}
.test-txt p {
    position: relative;
}
.quote {
    position: absolute;
    width: 30px;
}
.quote-left {
    top: 0;
    left: -30px;
}
.quote-right {
    bottom: -10px;
    right: 0;
}

/* Get in Touch */
.get-in-touch {
    padding: 80px 0;
}
.cont-head {
    display: flex;
    align-items: flex-end;
    max-width: 750px;
    justify-content: space-between;
    margin: auto;
    position: relative;
    z-index: -1;
}
.cont-head img {
    width: 100px;
    margin: auto;
}
.cont-head div {
    align-self: center;
    font-family: "Rockinsoda";
    font-size: 45px;
    position: relative;
    line-height: 1;
    margin-bottom: 20px;
    display: inline-block;
    color: #d12c30;
}
.form-box {
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.12);
    max-width: 750px;
    padding: 40px 100px;
    margin: auto;
    margin-top: -20px;
    background-color: #fff;
}

/* Footer */
footer {
    background-image: url(assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 40px 0 10px 0;
    background-position: center;
}

.foot-head {
    font-family: "Rockinsoda";
    font-size: 25px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

footer ul li {
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.flex {
    display: flex;
    gap: 30px;
}

.cpyrght {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

@media only screen and (max-width: 1199px) {
    .benefits .left-chick-img {
        width: 180px;
    }
    .bene-box {
        font-size: 16px;
    }
    .bene-box img {
        width: 35px;
    }
    .half-egg-img {
        width: 200px;
    }
    .prods-box-head div {
        font-size: 45px;
    }
    .prods-box-head img {
        max-height: 50px;
        width: auto;
    }
    .testimonials .left {
        margin-top: 100px;
    }
}
@media only screen and (max-width: 991px) {
    .nav_mob_icon {
        display: block;
    }

    header > nav {
        display: none;
    }

    header {
        padding: 20px 0;
    }
    .hero-heading .txt {
        font-size: 60px;
    }
    .hero-sec-bird {
        width: 120px;
    }
    .benefits .left-chick-img {
        width: 150px;
    }
    .bene-box {
        font-size: 16px;
        margin: 30px 0;
    }
    .bene-box img {
        width: 35px;
    }
    .half-egg-img {
        width: 120px;
        bottom: 120px;
    }

    .benefits .left .bene-box:nth-child(1) {
        margin-left: -30px;
    }
    .benefits .right .bene-box:nth-child(1) {
        margin-right: -30px;
    }
    .testimonials .left {
        margin-top: 50px;
    }
}

@media (max-width: 767px) {
    .hero-content h1 {
        font-size: 50px;
    }
    .half-egg-img {
        display: none;
    }
    .prods-box {
        margin-bottom: 120px;
    }
    .products {
        padding-bottom: 0;
    }
    footer {
        text-align: center;
    }
    footer .col-md-4:not(:first-child) .foot-head {
        margin-top: 40px;
    }
    footer ul li, .flex {
        justify-content: center;
    }
}

@media only screen and (max-width: 575px) {
    .mob_nav_menu {
        width: 100%;
    }
    .hero-box .left {
        display: none;
    }
    .hero-box .right {
        flex-basis: 100%;
    }
    .hero-sec-bird {
        right: 0;
    }
    .prods-chick-img {
        display: none;
    }
    .testimonials .right {
        display: none;
    }
    .testimonials .left {
        flex-basis: 100%;
    }
    .form-box {
        padding: 40px 20px;
    }
    .cont-head img {
        width: 50px;
        margin: auto;
    }
}


@media (min-width: 1440px){
    .testimonials{
        max-width: 1440px;
        margin: auto;
    }
}